html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.headerContainer {
    display: flex;
    justify-content: center;
}
.header {
    margin-top: 35px;
    font-size: 60px;
}

.gameContainer {
    border: 3px solid rgb(147, 147, 148);
    border-radius: 50px;
    max-width: 600px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 10px 20px 0px rgb(87, 87, 87);
}

.markerSelectContainer {
    display: flex;
    justify-content: center;
}

.markerButton {
    margin: 20px;
    margin-bottom: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 15px;
    box-shadow: 2px 2px 3px 0px rgb(87, 87, 87);
}
.markerButtonSel {
    border: 3px solid rgb(151, 150, 250);
}
.markerButton:hover {
    border: 3px solid rgb(151, 150, 250);
}
.gameBoardContainer {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tttButton {
    width: 100%;
    height: 100px;
    background-color: transparent;
    border: none;
    font-size: 70px;
}
.tttButton:hover {
    cursor:pointer;
}
.tttButton:disabled {
    color: black;
}

.One {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.Two {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.Three {
    border-bottom: 2px solid black;
}
.Four {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.Five {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.Six {
    border-bottom: 2px solid black;
}
.Seven {
    border-right: 2px solid black;
}
.Eight {
    border-right: 2px solid black;
    
}

.restartContainer {
    display: flex;
    justify-content: center;
}

.restartButton {
    background-color: transparent;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 15px;
    max-width: 150px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 3px 0px rgb(87, 87, 87);
}
.restartButton:hover {
    border: 2px solid rgb(151, 150, 250);
}
.win-popup {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.win-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: #0A100D;
    max-width: 500px;
    margin: 15% auto;
    padding: 0;
    border: 3px solid rgb(214, 214, 214);
    border-radius: 25px;
    width: 60%;
    box-shadow: 6px 10px 20px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}
.win-message {
    padding-top: 50px;
    font-size: 70px;
    text-align: center;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}